<nav class="navbar bg-primary  navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand">
        Dr Srivastava </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a class="nav-link" routerLink="/home">
            <i class="material-icons">home</i> Home
          </a>
        </li>

        <li class="dropdown nav-item">
          <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
            <i class="material-icons">apps</i> Achievments
          </a>
          <div class="dropdown-menu dropdown-with-icons">
            <a class="dropdown-item" target="_blank" href="">
              <i class="material-icons">layers</i> My Research Work
            </a>
            <a class="dropdown-item" target="_blank" href="">
              <i class="material-icons">layers</i> Extension Work
            </a>
            <a class="dropdown-item" target="_blank" href="">
              <i class="material-icons">layers</i> Teaching Work
            </a>
            <a class="dropdown-item" target="_blank" href="">
              <i class="material-icons">layers</i> Other Work
            </a>

          </div>
        </li>



        <li class="dropdown nav-item">
          <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
            <i class="material-icons">apps</i> Projects
          </a>
          <div class="dropdown-menu dropdown-with-icons">
            <a class="dropdown-item" target="_blank" href="https://firebasestorage.googleapis.com/v0/b/soiltech-org.appspot.com/o/researchPaper%2FVermi%20Compost%20Ek%20Uttam%20Javik%20Khad.pdf?alt=media&token=7bdae1b4-525f-442f-8299-99d38d4ae048">
              <i class="material-icons">layers</i> Vermi Compost
            </a>
            <a class="dropdown-item" target="_blank" href="">
              <i class="material-icons">layers</i> NADEP Compost
            </a>
            <a class="dropdown-item" target="_blank" href="">
              <i class="material-icons">layers</i> FYM
            </a>
            <a class="dropdown-item" target="_blank" href="">
              <i class="material-icons">layers</i> Amrit Mitty Mashala
            </a>
            <a class="dropdown-item" target="_blank" href="https://firebasestorage.googleapis.com/v0/b/soiltech-org.appspot.com/o/researchPaper%2F2012-AK-Technofame-1%20(2).pdf?alt=media&token=d6f25481-7bab-4b81-acc0-893eb14f73e5">
              <i class="material-icons">layers</i> CPP
            </a>
            <a class="dropdown-item" target="_blank" href="https://firebasestorage.googleapis.com/v0/b/soiltech-org.appspot.com/o/researchPaper%2FPanch%20Gab.pdf?alt=media&token=30e1f304-3f4d-4f96-b6fa-a25b0ecd754d">
              <i class="material-icons">layers</i> Paneh Guwya
            </a>
            <a class="dropdown-item" target="_blank" href="">
              <i class="material-icons">layers</i> Goat Manure
            </a>

          </div>
        </li>



        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/home">
            <i class="material-icons">assignment</i> Jounral
          </a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/gallary">
            <i class="material-icons">assignment</i> Gallary
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile">
            <i class="material-icons">phone</i> About Us
          </a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://twitter.com/CreativeTim" target="_blank" data-original-title="Follow us on Twitter">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li class="-item">
          <a class="navnav-link" rel="tooltip" title="" data-placement="bottom" href="https://www.facebook.com/CreativeTim" target="_blank" data-original-title="Like us on Facebook">
            <i class="fa fa-facebook-square"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://www.instagram.com/CreativeTimOfficial" target="_blank" data-original-title="Follow us on Instagram">
            <i class="fa fa-instagram"></i>
          </a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>