<div class="profile-page sidebar-collapse">

    <div class="page-header header-filter" data-parallax="true" style="background-image: url('../assets/img/dashboard2.jpg');"></div>

    <div class="main main-raised" >
        <div class="container">
<!-- <div class="section text-center" >
    <h2 class="title">Here is our team</h2>
    <div class="team" >
      <div class="row">
        <div class="col-md-4">
          <div class="team-player">
            <div class="card ">
              <div class="col-md-6 ml-auto mr-auto">
                <img src="../assets/img/faces/avatar.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
              </div>
              <h4 class="card-title">Gigi Hadid
                <br>
                <small class="card-description text-muted">Model</small>
              </h4>
              <div class="card-body">
                <p class="card-description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                  <a href="#">links</a> for people to be able to follow them outside the site.</p>
              </div>
              <div class="card-footer justify-content-center">
                <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-twitter"></i></a>
                <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-instagram"></i></a>
                <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-facebook-square"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="team-player">
            <div class="card ">
              <div class="col-md-6 ml-auto mr-auto">
                <img src="../assets/img/faces/christian.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
              </div>
              <h4 class="card-title">Christian Louboutin
                <br>
                <small class="card-description text-muted">Designer</small>
              </h4>
              <div class="card-body">
                <p class="card-description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                  <a href="#">links</a> for people to be able to follow them outside the site.</p>
              </div>
              <div class="card-footer justify-content-center">
                <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-twitter"></i></a>
                <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="team-player">
            <div class="card card">
              <div class="col-md-6 ml-auto mr-auto">
                <img src="../assets/img/faces/kendall.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
              </div>
              <h4 class="card-title">Kendall Jenner
                <br>
                <small class="card-description text-muted">Model</small>
              </h4>
              <div class="card-body">
                <p class="card-description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                  <a href="#">links</a> for people to be able to follow them outside the site.</p>
              </div>
              <div class="card-footer justify-content-center">
                <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-twitter"></i></a>
                <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-instagram"></i></a>
                <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-facebook-square"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section text-center" >
      <h2 class="title">Here is our team</h2>
      <div class="team" >
        <div class="row">
          <div class="col-md-4">
            <div class="team-player">
              <div class="card ">
                <div class="col-md-6 ml-auto mr-auto">
                  <img src="../assets/img/faces/avatar.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                </div>
                <h4 class="card-title">Gigi Hadid
                  <br>
                  <small class="card-description text-muted">Model</small>
                </h4>
                <div class="card-body">
                  <p class="card-description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                    <a href="#">links</a> for people to be able to follow them outside the site.</p>
                </div>
                <div class="card-footer justify-content-center">
                  <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-twitter"></i></a>
                  <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-instagram"></i></a>
                  <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-facebook-square"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-player">
              <div class="card ">
                <div class="col-md-6 ml-auto mr-auto">
                  <img src="../assets/img/faces/christian.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                </div>
                <h4 class="card-title">Christian Louboutin
                  <br>
                  <small class="card-description text-muted">Designer</small>
                </h4>
                <div class="card-body">
                  <p class="card-description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                    <a href="#">links</a> for people to be able to follow them outside the site.</p>
                </div>
                <div class="card-footer justify-content-center">
                  <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-twitter"></i></a>
                  <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-player">
              <div class="card card">
                <div class="col-md-6 ml-auto mr-auto">
                  <img src="../assets/img/faces/kendall.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                </div>
                <h4 class="card-title">Kendall Jenner
                  <br>
                  <small class="card-description text-muted">Model</small>
                </h4>
                <div class="card-body">
                  <p class="card-description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                    <a href="#">links</a> for people to be able to follow them outside the site.</p>
                </div>
                <div class="card-footer justify-content-center">
                  <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-twitter"></i></a>
                  <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-instagram"></i></a>
                  <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-facebook-square"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="row">
        <div class="col-md-12 ml-auto mr-auto">
          <div class="profile-tabs">
            <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" href="#studio" role="tab" data-toggle="tab">
                  <i class="material-icons">camera</i> Studio
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#works" role="tab" data-toggle="tab">
                  <i class="material-icons">palette</i> Work
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#favorite" role="tab" data-toggle="tab">
                  <i class="material-icons">favorite</i> Favorite
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="tab-content tab-space">
        <div class="tab-pane active text-center gallery" id="studio">
          <div class="row">
            <div class="col-md-6 ml-auto">
              <img src="../assets/img/images1.jpg" class="rounded">
              <img src="../assets/img/images3.jpg" class="rounded">
            </div>
            <div class="col-md-6 mr-auto">
              <img src="../assets/img/dashboard1.jpg" class="rounded">
              <img src="../assets/img/dashboard2.jpg" class="rounded">
            </div>
          </div>
        </div>
        <div class="tab-pane text-center gallery" id="works">
          <div class="row">
            <div class="col-md-6 ml-auto">
              <img src="../assets/img/images2.jpg" class="rounded">
              <img src="../assets/img/images2.jpg" class="rounded">
              <img src="../assets/img/images2.jpg" class="rounded">
            </div>
            <div class="col-md-6 mr-auto">
              <img src="../assets/img/images3.jpg" class="rounded">
              <img src="../assets/img/images3.jpg" class="rounded">
            </div>
          </div>
        </div>
        <div class="tab-pane text-center gallery" id="favorite">
          <div class="row">
            <div class="col-md-6 ml-auto">
              <img src="../assets/img/images2.jpg" class="rounded">
              <img src="../assets/img/images2.jpg" class="rounded">
            </div>
            <div class="col-md-6 mr-auto">
              <img src="../assets/img/images3.jpg" class="rounded">
              <img src="../assets/img/images3.jpg" class="rounded">
              <img src="../assets/img/images2.jpg" class="rounded">
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
</div>