<div class="profile-page sidebar-collapse">

  <div class="page-header header-filter" data-parallax="true" style="background-image: url('../assets/img/dashboard2.jpg');"></div>
  <div class="main main-raised" >
    <div class="profile-content">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="profile">
              <div class="avatar">
                <img src="../assets/img/dp1.jpg" alt="Circle Image" class="img-raised rounded-circle img-fluid">
              </div>
              <div class="name">
                <h3 class="info-title"> Dr. Pradeep Kumar Srivastava</h3>
</div>
              <h4 class="title text-center  "> Research Facility Ratanipur , Bhikhepur Auraiya-206129 Uttra Pradesh
                India.
              </h4>
            </div>
          </div>
        </div>
 
        <!-- <h4 class="title">Our Vision:</h4> -->



        <div class="row">

          <div class="col-md-12 ml-auto mr-auto">
            <div class="card card-nav-tabs">
              <h4 class="card-header card-header-primary">Our Vision:</h4>
              <div class="card-body">
                 <h4 class="card-text">We want to change present scenario of Agriculture, So we want to serve innovative agriculture
                    information so we will provide all type of information at anytime at anyplace free of cost</h4>        
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 ml-auto mr-auto">
            <div class="card card-nav-tabs">
              <h4 class="card-header card-header-primary">Our Mission:</h4>
              <div class="card-body">
                <h4 class="card-text">Encourage peoples to information related to agriculture at one spot i.e. My Agriculture Information Bank.</h4>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
            <div class="col-md-12 ml-auto mr-auto">
              <div class="card card-nav-tabs">
                  <!-- <h4 class="info-title"><a href="#0" class="btn btn-primary">Our Objectives:</a></h4> -->
                <h4 class="card-header card-header-primary">Our Objectives:</h4>
                <div class="card-body">
                  <h4  >1. To promote the practicing farmers for Organic Farming.</h4>
                  <h4  class="card-text" >2. Encourage peoples to read about agriculture science by provide free online quality agriculture
                    information.</h4>
                  <h4  class="card-text" >3. To create the one spot agriculture information center.</h4>
                  <h4  class="card-text" >4. Provide readymade study materials to the agriculture students, etc…</h4>
                  <h4  class="card-text" >5. Develop: We will develop the condition of Organic Farming in India with the help of our educated
                    peoples.</h4>
                  <h4  class="card-text" >6. Empower: Ask to peoples to empower farmers to go for new innovative techniques.</h4>
                  <h4  class="card-text" >7. To provide free information to the agriculture professionals at anywhere and at anytime whenever they
                    required.</h4>
                  <h4  class="card-text" >8. Educate: Educate the peoples related to the theory & practical of agriculture by creating one spot
                    innovative information center for organic farming.</h4>
          
                </div>
              </div>
            </div>
          </div>

        <!-- <div class="description text-center" >
        </div> -->
        <!-- <h4 class="title ">Our Mission:</h4> -->
        <!-- <h4 class="info-title"><a href="#0" class="btn btn-primary">Our Mission:</a></h4> -->

        <!-- <div class="description text-center"> -->
        <!-- <h4 class="title ">Our Objectives:</h4> -->
        <!-- <h4 class="info-title"><a href="#0" class="btn btn-primary">Our Objectives:</a></h4> -->

        <!-- <h4>1. To promote the practicing farmers for Organic Farming.</h4>
        <h4>2. Encourage peoples to read about agriculture science by provide free online quality agriculture
          information.</h4>
        <h4>3. To create the one spot agriculture information center.</h4>
        <h4>4. Provide readymade study materials to the agriculture students, etc…</h4>
        <h4>5. Develop: We will develop the condition of Organic Farming in India with the help of our educated
          peoples.</h4>
        <h4>6. Empower: Ask to peoples to empower farmers to go for new innovative techniques.</h4>
        <h4>7. To provide free information to the agriculture professionals at anywhere and at anytime whenever they
          required.</h4>
        <h4>8. Educate: Educate the peoples related to the theory & practical of agriculture by creating one spot
          innovative information center for organic farming.</h4> -->


        <!-- </div> -->
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="profile-tabs">
              <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" href="#studio" role="tab" data-toggle="tab">
                    <i class="material-icons">camera</i> Studio
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#works" role="tab" data-toggle="tab">
                    <i class="material-icons">palette</i> Work
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#favorite" role="tab" data-toggle="tab">
                    <i class="material-icons">favorite</i> Favorite
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tab-content tab-space">
          <div class="tab-pane active text-center gallery" id="studio">
            <div class="row">
              <div class="col-md-3 ml-auto">
                <img src="../assets/img/images1.jpg" class="rounded">
                <img src="../assets/img/images3.jpg" class="rounded">
              </div>
              <div class="col-md-3 mr-auto">
                <img src="../assets/img/dashboard1.jpg" class="rounded">
                <img src="../assets/img/dashboard2.jpg" class="rounded">
              </div>
            </div>
          </div>
          <div class="tab-pane text-center gallery" id="works">
            <div class="row">
              <div class="col-md-3 ml-auto">
                <img src="../assets/img/images2.jpg" class="rounded">
                <img src="../assets/img/images2.jpg" class="rounded">
                <img src="../assets/img/images2-rio.jpg" class="rounded">
              </div>
              <div class="col-md-3 mr-auto">
                <img src="../assets/img/images3.jpg" class="rounded">
                <img src="../assets/img/images3.jpg" class="rounded">
              </div>
            </div>
          </div>
          <div class="tab-pane text-center gallery" id="favorite">
            <div class="row">
              <div class="col-md-3 ml-auto">
                <img src="../assets/img/images2.jpg" class="rounded">
                <img src="../assets/img/images2.jpg" class="rounded">
              </div>
              <div class="col-md-3 mr-auto">
                <img src="../assets/img/images3.jpg" class="rounded">
                <img src="../assets/img/images3.jpg" class="rounded">
                <img src="../assets/img/images2.jpg" class="rounded">
              </div>
            </div>
          </div>
        </div>
        <app-contact-us></app-contact-us>
      </div>
    </div>
  </div>
</div>